<html>
    <head></head>
    <body>
        <h1>{{ title }}</h1>
        <div class="dates">{{ start_date }} - {{ end_date }}</div>
        <div class="bible_verse">'{{ bible_verse.text }}' {{ bible_verse.reference }}</div>
        {% for prayer_day in prayer_days %}
            <div class="prayer_day">
                <hr/>
                <h2 class="date">{{ prayer_day.date }}</h2>
                <hr/>
                <ul>
                    {% for prayer_point in prayer_day.prayer_points %}
                    <li>
                        <t class="prayer_subject">{{ prayer_point.subject }}</t> - {{ prayer_point.detail }}
                        {% for prayer_subpoint in prayer_point.subpoints %}
                            <li>{{ prayer_subpoint }}</li>
                        {% endfor %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </body>
</html>